section(id="workshop").section_nopadding
  - no_of_workshops = 0
  - suffix = ""
  each item in site.data.workshop
    - no_of_workshops++
  if no_of_workshops > 1
    - suffix = "s"
  h2(role="heading" aria-level="2").title.is-2 !{no_of_workshops} !{site.data.defaults.conference.workshops_title}!{suffix}
  each workshop in site.data.workshop
    .workshop__container
      - filename = "/img/ws_teachers/"+workshop.pic_filename
      .columns.inner
        .column.workshop__info
          .row-info
            .info-icon
              include ../../../source/assets/ico/ico-where.svg
            .info__location !{workshop.location}
            | &nbsp;|&nbsp;
            .info-icon.padded
              include ../../../source/assets/ico/ico-calendar.svg
            .info__date
              - start_date = date(workshop.date, config.date_format_hero)
              time(datetime=workshop.date) !{start_date}
            | &nbsp;|&nbsp;
            .info-icon.padded
              include ../../../source/assets/ico/ico-teacher.svg
            .info-teacher !{workshop.teacher}
          h5(role="heading" aria-level="5") !{workshop.title}
          p !{workshop.description}
          a(href=workshop.page_url role="button").button.is-small.is-rounded.is-primary !{site.data.defaults.conference.workshops_readmore_label}
        .column.workshop-buttons
          .workshop-buttons__button-container
            .card.speaker-card
              .card-image
                img(src=filename role="figure" aria-label=workshop.teacher alt=workshop.teacher)
          .workshop-buttons__button-container
            if (!workshop.is_external)
              a(href=workshop.ticket_url role="button" target="_blank" rel="noopener noreferrer external")
                .workshop-buttons__button
                  include ../../../source/assets/ico/ico-ticket.svg
              a(href=workshop.ticket_url role="button" aria-label=site.data.defaults.conference.workshops_tickets_label target="_blank" rel="noopener noreferrer external") !{site.data.defaults.conference.workshops_tickets_label}
            else
              a(href="#" role="button" target="_blank" rel="noopener noreferrer external")
                .workshop-buttons__button
                  include ../../../source/assets/ico/ico-pencil.svg
              a(href="#" role="button" aria-label=site.data.defaults.conference.workshops_register_label target="_blank" rel="noopener noreferrer external") !{site.data.defaults.conference.workshops_register_label}
