section(id="workshop").section_nopadding
  .workshop__container
    - no_of_workshops = 0
    - suffix = ""
    each item in site.data.workshop
      - no_of_workshops++
    if no_of_workshops > 1
      - suffix = "s"
    .inner
      h2.title.is-2 !{no_of_workshops} workshop!{suffix}
      .tabs.is-centered.is-toggle.is-centered.is-fullwidth
        ul
          - workshop_no = 0
          - active_class = ""
          each workshop in site.data.workshop
            - workshop_no++
            if workshop_no ==1
              - active_class = "is-active"
            else
              - active_class = ""
            li(class=""+active_class)
              a !{workshop.date}
        .tab-content
          each workshop in site.data.workshop
            - filename = "/img/ws_teachers/"+workshop.pic_filename
            .columns
              .column.is-one-quarter
                .card
                  .card-content
                    .card-image
                      img(src=filename)
                    p.title !{workshop.teacher}
                    p.subtitle !{workshop.teacher_role}
                    p.subtitle @ !{workshop.teacher_org}
              .column.has-border
                .row-info
                  .info-icon
                    include ../../../source/assets/ico/ico-where.svg
                  .info__location !{workshop.location}
                  | &nbsp;|&nbsp;
                  .info-icon.padded
                    include ../../../source/assets/ico/ico-calendar.svg
                  .info__date !{workshop.date}
                h5 !{workshop.title}
                p !{workshop.description}
                .row__more
                  a.button.is-medium.is-rounded.is-primary BUY TICKETS NOW
                  a.button.is-medium.is-rounded.is-primary READ MORE
script(type="text/javascript" src='/assets/js/layout/components/workshop/workshop.js')