- classes = ""
if(is_home())
  script(type="text/javascript" src='/assets/js/header.js')
  - classes += "is-transparent"

header(class=classes id="header")
  .nav-container
    nav(role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" aria-label="Main menu").navbar.dropdown
      .navbar-brand
        a(href="/" aria-label="home page").navbar-item
          .header-logo
            include ../../source/assets/img/conference-logo.svg
        a.navbar-burger(role="button" aria-label="menu" aria-expanded="false" data-target="main_menu")
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
      .navbar-menu(id="main_menu")
        .navbar-start
        .navbar-end
          each item in theme.menu
            if(item == "welcome")
              if(theme.welcome_submenu)
                .navbar-item.has-dropdown.is-hoverable
                  a(aria-label=item).navbar-link !{item}
                  .navbar-dropdown
                    each subitem in theme.welcome_submenu
                      //- this. is. horrible.
                      - subpage_url = url_for(site.url) + 'welcome' + url_for(subitem) + '.html'
                      a(href=url_for(subpage_url) aria-label=subitem).navbar-item !{subitem}
            else
              a(href=url_for(item) aria-label=item).navbar-item !{item}
