
- var pageTitle = page.title || config.subtitle || ''
- if (is_home()) pageTitle = 'home'
- pageTitle += ' | ' + config.title

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title=pageTitle
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="canonical" href=url)
    meta(name='title', content=site.data.defaults.conference.title)
    if(is_home())
      meta(name='description', content=config.description)
    else
      meta(name='description', content=page.description)
    //- Favicons
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png")
    link(rel="manifest" href="/assets/ico/site.webmanifest")
    link(rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="shortcut icon" href="/assets/ico/favicon.ico")
    meta(name="msapplication-TileColor" content="#ffc40d")
    meta(name="msapplication-config" content="/assets/ico/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")

    != open_graph()

    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from _config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)

    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)

    //- schema.org microdata
    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@type": "Event",
        "@id": "#{full_url_for(site.root)}",
        "location": 
        {
          "@type": "Place",
          "address": 
          {
            "@type": "PostalAddress",
            "addressLocality": "#{site.data.defaults.conference.md_city}",
            "addressRegion": "#{site.data.defaults.conference.md_province}",
            "postalCode": "#{site.data.defaults.conference.md_postal_code}",
            "streetAddress": "#{site.data.defaults.conference.md_address}"
          },
          "name": "#{site.data.defaults.conference.location_name}"
        },
        "name": "#{site.data.defaults.conference.title}",
        "startDate": "#{site.data.defaults.conference.date}",
        "description": "#{config.description}",
        "organizer":
        {
          "@type": "Organization",
          "name": "#{config.author}",
          "url": "#{site.data.defaults.conference.organizer_url}",
          "logo": "#{full_url_for(config.image)}",
          "contactPoint": [
          {
            "@type": "contactPoint",
            "email": "mailto:#{site.data.defaults.conference.contact_email}"
          }],
          "sameAs": 
          [
            "#{site.data.defaults.conference.social_fb_url}",
            "#{site.data.defaults.conference.social_twitter_url}",
            "#{site.data.defaults.conference.social_vimeo_url}",
            "#{site.data.defaults.conference.social_youtube_url}"
          ]
        }
      }

    body
      #content-outer
        include header.pug
        #content-inner(role="main")
          if body
            div!= body
          else
            block content
      include footer.pug