section(id="hero__speakers").section_nopadding
  .speakers__container
    - no_of_speakers = 0
    - suffix = ""
    //- this is to truncate titles if there are more than 10 speakers (20200319 request)
    - truncate = false
    each item in site.data.speakers
      if(!item.is_service_item)
        - no_of_speakers++
    if no_of_speakers > 1
      - suffix = "s"
    //- this is to truncate titles if there are more than 10 speakers (20200319 request)
    if no_of_speakers > 7
      - truncate = true
    .columns
      .column.inner
        h2(role="heading" aria-level="2").title.is-2 !{no_of_speakers} !{site.data.defaults.conference.speakers_title}!{suffix}
        .inner_holder
          each speaker in site.data.speakers
            if(!speaker.is_service_item)
              - filename = `/img/speakers/${speaker.speaker_pic_filename}`
              - target_href = `/speakers#${speaker.speaker_name}`
              a(href=target_href role="button" aria-label=speaker.speaker_name)
                .card.speaker-card
                  .card-image
                    img(src=filename role="figure" aria-label=speaker.speaker_name)
                  .card-content
                    p.title !{speaker.speaker_name}
                    p
                      em !{speaker.speaker_role}
