- classes = ""
if(is_home())
  script(type="text/javascript" src='/assets/js/header.js')
  - classes += "is-transparent"

header(class=classes id="header")
  .nav-container
    nav(role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" aria-label="Main menu").navbar.dropdown
      .navbar-brand
        a(href="/" aria-label="home page").navbar-item
          .header-logo
            include ../../source/assets/img/conference-logo.svg
        a.navbar-burger(role="button" aria-label="menu" aria-expanded="false" data-target="main_menu")
          span(aria-hidden="true")
          span(aria-hidden="true")
          span(aria-hidden="true")
      .navbar-menu(id="main_menu")
        .navbar-start
        .navbar-end
          each page_label, page_key in theme.menu
            - aria_label = page_label + " page"
            if(theme[page_key + '_submenu'])
              .navbar-item.has-dropdown.is-hoverable
                a(href=url_for(page_key) aria-label=aria_label).navbar-link !{page_label}
                .navbar-dropdown
                  each sub_label, sub_key in theme[page_key + '_submenu']
                    - subpage_url = `${url_for(site.url)}${page_key}/${sub_key}.html`
                    - aria_label = sub_label + " page"
                    a(href=url_for(subpage_url) aria-label=aria_label).navbar-item !{sub_label}
            else
              a(href=url_for(page_key) aria-label=aria_label).navbar-item !{page_label}
          a(href=site.data.defaults.conference.buy_tickets_url target="_blank" rel="noopener noreferrer external" role="button" aria-label=site.data.defaults.conference.buy_tickets_label).button.is-small.is-rounded.is-primary.in-menu !{site.data.defaults.conference.menu_buy_tickets_label}
