extends includes/layout.pug

block content
  - contact_url = "mailto:" + site.data.defaults.conference.contact_email
  section(id="schedule")
    include includes/_breadcrumbs.pug

    //- we count the number of tracks in order to know if the table must have more than one column
    - no_tracks = 0
    each track in site.data.talks_speakers.tracks
      - no_tracks++

    .container
      .inner
        //- we count the days - useful for the page layout
        - var no_days = 0
        each day in site.data.talks_speakers.days
          - no_days++
        //- if there is only one day, the title must be aligned to the left
        - title_classes = ""
        if(no_days > 1)
          - title_classes += "is-centered"
        else
          - title_classes += "has-text-left"
        .title-container.title-container_schedule
          h1(class=title_classes role="heading" aria-level="1").title-is-1 !{page.title}
        //- links to every day in page if there is more than 1 day
        if(no_days > 1)
          .container.date-menu
            .inner
              each day in site.data.talks_speakers.days
                - anchor = `#${day.title}`
                a(role="button" href=anchor).button.is-rounded.is-primary.is-medium !{day.title}
        each day in site.data.talks_speakers.days
          - the_id = day.title
          .timeline
            .info-bar
              .row-info
                .info-icon.padded
                  include ../source/assets/ico/ico-calendar.svg
                  - start_date = date(day.date, config.date_format_hero)
                .info__date(id=the_id)
                  time(datetime=day_date) !{start_date}
            table.table.is-fullwidth.is-hoverable
              tbody
                - colcount = 0
                each talk, key in day.talks
                  - tr_classes = ""
                  - td_classes = ""
                  if(talk.item_type !== 'service')
                    - tr_classes += "has-background "
                  if(talk.service_icon)
                    - td_classes += "has-service-icon "
                  if(talk.item_type == 'service')
                    tr(class=tr_classes)
                      td(class=td_classes colspan=no_tracks)
                        time(datetime=talk.start_datetime) !{time(talk.start_datetime, config.time_format_schedule)} - !{time(talk.end_datetime, config.time_format_schedule)}
                        br
                        strong !{talk.talk_title}
                        if(talk.service_icon)
                          if(talk.service_icon == "coffee")
                            include ../source/assets/ico/ico-coffee.svg
                          if(talk.service_icon == "cutlery")
                            include ../source/assets/ico/ico-cutlery.svg
                          if(talk.service_icon == "glass")
                            include ../source/assets/ico/ico-glass.svg
                        br
                        if(talk.host_name)
                          span !{talk.host_name}
                  else if(talk.item_type == 'keynote')
                    tr(class=tr_classes)
                      td(class=td_classes colspan=no_tracks)
                        time(datetime=talk.start_datetime) !{time(talk.start_datetime, config.time_format_schedule)} - !{time(talk.end_datetime, config.time_format_schedule)}
                        br
                        strong Keynote
                          if(talk.talk_title)
                            | :&nbsp!{talk.talk_title}
                        br
                        if(talk.host_name)
                          span !{talk.host_name}
                        if(talk.speakers)
                          each speaker in talk.speakers
                            span !{speaker.speaker_name}
                            if(speaker.speaker_role)
                              span !{speaker.speaker_role}
                        if(talk.talk_description)
                          br
                          | !{talk.talk_description}
                  else
                    if(colcount == no_tracks)
                      tr(class=tr_classes)
                      - colcount = 0
                    if(talk.item_type == 'talk')
                      - colcount++
                      td(style=`width: calc(100% / ${no_tracks})`).has-background
                        time(datetime=talk.start_datetime) !{time(talk.start_datetime, config.time_format_schedule)} - !{time(talk.end_datetime, config.time_format_schedule)}
                        br
                        if(talk.track)
                          span.track-title !{talk.track.title}
                        br
                        - talk_url = url_for("talks_speakers") + "#" + key
                        strong(id=key).talk-anchor
                          a(href=talk_url) !{talk.talk_title}
                        br
                        if(talk.host_name)
                          span !{talk.host_name}
                        if(talk.speakers)
                          each speaker in talk.speakers
                            span !{speaker.speaker_name}
                    else if(talk.item_type == 'workshop')
                      - colcount++
                      td(style=`width: calc(100% / ${no_tracks})`).has-background
                        time(datetime=talk.start_datetime) !{time(talk.start_datetime, config.time_format_schedule)} - !{time(talk.end_datetime, config.time_format_schedule)}
                        br
                        strong Workshop
                          if(talk.talk_title)
                            | :&nbsp!{talk.talk_title}
                        br
                        if(talk.host_name)
                          span !{talk.host_name}
                        if(talk.speakers)
                          each speaker in talk.speakers
                            span !{speaker.speaker_name}
                            if(speaker.speaker_role)
                              span !{speaker.speaker_role}
                        if(talk.talk_description)
                          br
                          | !{talk.talk_description}
                    else if(talk.item_type == 'other')
                      - colcount++
                      td(style=`width: calc(100% / ${no_tracks})`).has-background
                        time(datetime=talk.start_datetime) !{time(talk.start_datetime, config.time_format_schedule)} - !{time(talk.end_datetime, config.time_format_schedule)}
                        br
                        if(talk.talk_title)
                          strong !{talk.talk_title}
                        if(talk.talk_description)
                          br
                          | !{talk.talk_description}

    //- imported components
    include components/newsletter/newsletter
    if(site.data.defaults.conference.sponsors_visible)
      include components/sponsors/sponsors
    if site.data.defaults.conference.community_partners
      include components/community_partners/community_partners