extends includes/layout.pug

block content
  section(id="speakers")
    include includes/_breadcrumbs.pug

    .container
      .inner
        .columns
          .column
            h1(role="heading" aria-level="1").title-is-1= page.title
          .column
            .row-info
              .info-icon
                include ../source/assets/ico/ico-where.svg
              .info__location !{site.data.defaults.conference.city}
              | &nbsp;|&nbsp;
              .info-icon.padded
                include ../source/assets/ico/ico-calendar.svg
                - start_date = date(site.data.defaults.conference.date, config.date_format_hero)
              .info__date
                time(datetime=site.data.defaults.conference.date) !{start_date}
    each speaker in site.data.speakers
      if(!speaker.is_service_item)
        .container.has-dynamic-background
          .inner
            .block-speaker
              .columns
                .column.column_speaker
                  - filename = "/img/speakers/"+speaker.speaker_pic_filename
                  .card.speaker-card
                    .card-image
                      img(src=filename role="figure" aria-label=speaker.speaker_name)
                .column
                  .columns.speaker-info
                    .column
                      h2(role="heading" aria-level="2" id=speaker.speaker_name).speaker-name !{speaker.speaker_name}
                    .column
                      p !{speaker.speaker_role}
                  .columns.columns_talk-title
                    .column
                      h2(role="heading" aria-level="2").talk-title !{speaker.talk_title}
                      p !{speaker.talk_description}
              .has-border
                p
                  span.speaker-name !{speaker.speaker_name}
                  | !{speaker.speaker_bio}

  script(type="text/javascript" src='/assets/js/speakers_menu.js')
  aside(id="secondary_menu").menu.secondary-menu
    .secondary-menu-button-container
      a(href="#menu" id="secondary_menu_button" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" aria-label="Speakers menu").secondary-menu-button.is-active
        .chevron(id="speaker_menu_chevron")
    ul.menu-list
      each speaker in site.data.speakers
        if(!speaker.is_service_item)
          - target_href = "#" + speaker.speaker_name
          li
            a(href=target_href role="button" aria-label=speaker.speaker_name).secondary-menu-list-item !{speaker.speaker_name}
  include components/newsletter/newsletter.pug